*.bridgesupport
*.gem
*.rbc
.dat*
.repl_history
.rvmrc
/.bundle/
/.config
/.yardoc/
/spec/examples.txt
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
/vendor/bundle
build/
spec/examples.txt

*.idea
compiled_lisp.rb
lib/tempfile
